<div class="wrapper">

    <pj-header></pj-header>

    <!-- Full Width Column -->
    <div class="content-wrapper">
        <div class="container">

            <router-outlet></router-outlet>

        </div>
    </div>

    <pj-snackbar></pj-snackbar>

    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Versão</b> 1.0.0
            </div>
            <strong>PJ</strong> - Aplicação Angular
        </div>
    </footer>
</div>